@use "../../styles/general/colors" as *;
@use "../../styles/general/mixins" as *;

.header {
  background: $bg;
  border-bottom: 1px solid $border;
}
.logo {
  height: 80px !important;  // veliko za test
  width: auto !important;
  border: 3px solid green !important; // zelen okvir za debug
}


.inner {
  width: min(1000px, 92%);
  margin: 0 auto;
  padding: 14px 0;
}

.title {
  margin: 0;
  font-size: 20px;

  @include md {
    font-size: 26px;
  }
}

.subtitle {
  margin: 6px 0 0;
  font-size: 13px;
  color: $text-light;

  @include md {
    font-size: 14px;
  }
}
