@use "../../styles/general/colors" as *;
@use "../../styles/general/mixins" as *;

.row {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
button {
  height: 44px;
}


.input {
  width: 100%;
  padding: 12px 14px;
  border-radius: 12px;
  border: 1px solid $border;
  font-size: 14px;
  background: $bg;
  color: $text-dark;
}

.input:focus {
  outline: none;
  border-color: $primary;
}

/* Desktop layout */
@include md {
  .row {
    flex-direction: row;
    align-items: center;
  }

  .input {
    flex: 1;
  }
}
