@use "./colors" as *;

* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: $textColorbg;
  color: $text-dark;
}

.container {
  width: min(1000px, 92%);
  margin: 0 auto;
  padding: 16px 0 32px;
}
.row {
  display: grid;
  gap: 12px;
  margin: 14px 0 16px;
}

@media (min-width: 700px) {
  .row {
    grid-template-columns: 1fr auto;
    align-items: center;
  }
}
