// Base
$bg: #ffffff;
$outline: #373737;
$text: #BABABA;

// Actions
$add: #626ED9;
$done: #ECBB5B;
$remove: #C64444;

// Brand
$primary: #df7e19;;       //  buttons
$secondary: #f3e2dc;     // soft soft warm beige
$accent: #d5c9c9;        // warm nude

// Text
$textColorcard: #FFFFFF;
$textColorbg: #F5F5F5;
$text-light: #6B6B6B;
$text-dark: #2E2E2E;

// UI
$border: #EAEAEA;
$hightext: #FFD700;      // gold – favorite star
