// $bg: #202020;
$bg: #F5F5F5;
$outline: #373737;
$text: #BABABA;
$add: #626ED9;
$done: #ECBB5B;
$remove: #C64444;
$text: #BABABA;
$remove: #C64444;
$primary: #FF69B4; // zarko roza - za gumbe
$secundar : #E0BBE4; //  siva za ozadja poudarke
$textColorcard: #FFFFFF; //  bela - za kartic
$textColorbg: #F5F5F5; //  svetlo siva - za ozadje aplikacije
$hightext: #FFD700; // zlata - za priljubljene ikone zvezdic



